/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
body {
  max-width: 900px;
  width: 80%;
  margin: 0 auto;
}
.container-home {
  display: flex;
  flex-direction: column;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.container-home {
  border-top: 1px dashed black;
}
.content-section {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
@media (max-width:500px) {
  .content-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.text-content {
  width: 48%;
  flex-direction: column;
  padding: 2rem;
  margin: 1rem;
}
@media (max-width:500px) {
  .text-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.content-destination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 1px dashed black;
  padding: 2rem;
}
.content-destination .content-pick {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-left: 2rem;
}
.content-destination .bottom-content {
  display: flex;
}
.content-destination .destination {
  width: 33%;
}
.content-destination bottomImage {
  margin: 1rem;
  width: 900px;
  display: flex;
  justify-content: center;
}
nav {
  margin-left: 62px;
}
@media (max-width:500px) {
  nav {
    margin-left: 0;
  }
}
nav a {
  margin-left: 20px;
  font-size: 1.8rem;
  text-decoration: none;
}
nav .first-anchor {
  margin-left: 0;
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
header {
  border-bottom: 1px solid black;
  margin: 20px 0;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width:500px) {
  header {
    flex-direction: column;
    align-items: center;
  }
}
header h1 {
  font-size: 4rem;
  color: #212529;
}
@media (max-width:500px) {
  header h1 {
    margin-bottom: 20px;
    font-size: 2rem;
  }
}
.headerImage {
  margin: 2rem;
  width: 900px;
  display: flex;
  justify-content: center;
}
.btn-cont {
  display: block;
  background-color: #1E90FF;
  margin: 0 10px 20px;
  cursor: pointer;
  width: 200px;
  height: 45px;
  font-size: 2rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .btn-cont {
    width: 90%;
    height: 50px;
    font-size: 2.5rem;
  }
}
@media (max-width:500px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.btn {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
@media (max-width:500px) {
  body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
